[user]
	email = mcdonalds.only@gmail.com
	name = Masaya Hayashi
	username = rinchsan
[color]
	ui = true
[alias]
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(yellow)%cn %Cred%d %Creset%s'
	st = status
	co = checkout
	br = branch
	ci = commit
	pu = push
	diw = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
	push-f = push --force-with-lease
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
[push]
	default = nothing
[merge]
	ff = false
[pull]
	ff = only
[init]
	templatedir = ~/.git-template
[ghq]
	root = ~/go/src
